$primary-color: #5C6BC0;
$secondary-color: #1ea896;
$tertiary-color: white;
$primary-font:'Ubuntu', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;


.results {
  max-width: 80%;
  padding: 5%;
  padding-top: 2%;
  background-color: $tertiary-color;
  margin: auto;
  margin-top: 5%;
}

.answer.correct:before {
  content: '\2713';
  display: inline-block;
  color: green;
  padding: 0 6px 0 0;
}

.answer:not(.correct):before {
  content: "\2717";
  display: inline-block;
  color: red;
  padding: 0 6px 0 0;
}
