$primary-color: #5C6BC0;
$secondary-color: #1ea896;
$tertiary-color: white;
$primary-font:'Ubuntu', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;

mat-card {
  border-radius: 0px;
  width: 30%;
  display: inline-block;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  padding: 3%;
}

.mat-card>.mat-card-actions:last-child {
  padding-bottom: 3%;
}

mat-card-content {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
}

mat-card-title {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 24px;
}

p {
  text-align: left;
  width: 90%;
  margin: auto
}

.quizzes {
  display: flex;
  justify-content: space-between;
}

.welcome {
  max-width: 80%;
  padding: 5%;
  padding-top: 2%;
  background-color: $tertiary-color;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}
a:visited {
  color: $secondary-color;
}

@media all and (max-width: 750px) {
  .quizzes {
    flex-direction: column;
  }

  mat-card {
    width: 85%;
  }
}
