$primary-color: #5C6BC0;
$secondary-color: #1ea896;
$tertiary-color: white;
$primary-font:'Ubuntu', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;


mat-card {
  width: 30%;
  display: inline-block;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  padding: 3%;
}

.mat-card>.mat-card-actions:last-child {
  padding-bottom: 3%;
}

mat-card-content {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
}

mat-card-title {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 30px;
}

.quizzes {
  display: flex;
  justify-content: space-between;
  font-family: $primary-font;
}

.welcome {
  max-width: 80%;
  padding: 2%;
  background-color: $tertiary-color;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  font-size: 1.2em;
}

@media all and (max-width: 750px) {
  h1{
    font-size: 3em
  }
  .quizzes {
    flex-direction: column;
  }

  mat-card {
    width: 85%;
  }
}
