// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$squizz-primary: mat-palette($mat-blue);
$squizz-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$squizz-warn: mat-palette($mat-blue);

// Create the theme object (a Sass map containing all of the palettes).
$squizz-theme: mat-light-theme($squizz-primary, $squizz-accent, $squizz-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($squizz-theme);


/* You can add global styles to this file, and also import other style files */
$primary-color: #5C6BC0;
$secondary-color: #1ea896;
$secondary-color-lighten : #1ea89696;
$tertiary-color: white;
$primary-font:'Ubuntu', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;


html,
body {
  height: 100%;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  background-color: $primary-color;
  line-height: 1.6;
  margin: auto;
}

h1{
  margin: 0;
  font-size: 3em;
  font-family: $secondary-font
}

p {
  text-align: left;
  width: 90%;
  margin: auto
}

.mat-radio-outer-circle{
  border: $secondary-color
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $secondary-color-lighten
}

a {
  text-decoration: none;
  color: $secondary-color;
}

a:hover,
a:focus {
  color: $secondary-color-lighten;
}

@media all and (max-width: 750px) {

  h1,
  h2 {
    font-size: 24px;
  }

  html,
  body,
  a {
    font-size: 16px;
  }
}
